/* My CSS*/
/* h1 {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    text-transform: uppercase;
  }

  * {
    color: white;
    background-color: black;
  }

  img {
    height: 100%;
    width: 100%;
    border: 5px solid white;
  }

  #quote {
    width: 50%;
    margin-left: 25%;
  } */

  /* Solution CSS*/

  h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }

  body {
    background-color: black;
  }

  .mot-img {
    /* height: 100%; */
    width: 100%;
    border: 5px solid white;
  }

  .quote {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }